.navLink {
    color: var(--main-text-color);
    background-color: transparent !important;
    font-size: 7rem; /* this is for the gap between each navlink */
}

.navLink .mantine-NavLink-label {
    /* font-size: clamp(1.5rem, 2.5vw, 3rem); */
    font-size: 3rem;
    font-weight: 700;
}