.projectLink{
    color: var(--main-text-color);
    background-color: transparent !important;
    transform: translateX(-0.7rem);
}
.projectLink .mantine-NavLink-label {
    font-weight: 600;
    font-size: 1rem;
}