:root {
  --main-bg-color: #fff4e2;
  --main-text-color: #ffb800;
}

body {
  background-color: var(--main-bg-color);
}

.header {
  background-color: var(--main-bg-color);
}

.navBar {
  background-color: var(--main-bg-color);
}
